a.catlist:link, a.catlist:visited, a.catlist:focus, a.catlist:active, a.delete:link, a.delete:visited, a:link, a:visited, a:focus, a:active { color: #3300FF; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; }
a.delete:hover, a:hover, a.catlist:hover { color: #CC0000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; }
a.header:link, a.header:visited, a.header:focus, a.header:active { color: #FFFFFF; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none; }
a.header:hover { zbackground-color: #CC9999; color: #FFF8DC; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 9pt; font-weight: bold; text-decoration: none; }
a.imagelink:focus, a.imagelink:hover, a.imagelink:active, a.imagelink:link, a.imagelink:visited { color: #FFFFFF; text-decoration: none; }
a.prodlist:link, a.prodlist:visited, a.search:link, a.search:visited, a.search:focus, a.search:active { color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 9pt; text-decoration: none; }
a.prodlist:hover	{ background: Yellow; color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 9pt; text-decoration: underline; }
a.search:hover { color: #3300FF; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 9pt; font-weight: bold; }
a.treeview:link, a.treeview:visited { color: #0000CC; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; text-decoration: none; }
a.treeview:hover	{ background: Yellow; color: #0000CC; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; text-decoration: underline; }
b { font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; font-weight: bold; }
body { background-color: #FFFFFF; color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; margin: 0px; text-decoration: none; }
h1 { color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 10pt; font-weight: bold; }
h2 { color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 11pt; font-weight: bold; }
input, select { font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; }
input.sort { border: 1px solid Silver; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 7pt; }
td, p { color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; }
td.eventhead { background-color: #999999; color: #FFFFFF; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 9pt; font-weight: bold; text-align: center; }
td.pagetitle { color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 10pt; font-weight: bold; height: 28px; vertical-align: top; }
th { color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 9pt; font-weight: normal; }
.treeview { color: #333333; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 8pt; }

.title1 { color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 10pt; font-weight: bold; }
.title2 { color: #000000; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 11pt; font-weight: bold; }
a.title1 { color: #3366cc; font-family: Tahoma, Verdana, Arial, sans-serif; font-size: 10pt; font-weight: bold; }