/* for node text */
td.tr_t2	{
	FONT: 8pt Tahoma;
	vertical-align:middle;
	border: 0px solid #ffffff;
	background-color:none;
	padding-left:2px;
	padding-right:2px;
}

/* links in all nodes */
td.tr_t2 A, td.tr_t2 A:hover, td.tr_t2 A:visited		{
	color: #3366cc;
}

/* for children */
td.tr_t5	{
	width:100%;
}

/* for vertical lines (indent) */
div.tr_d5		{
	width:18px;
}

/* for plus-minus images */
td.tr_t6		{
	width:16px;
	vertical-align:top;
}
